[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
